
*{
  box-sizing: border-box;
}

.app {
  background-color: #F4F6F9;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: sans-serif;
}

.app .filter-ind{
  display: flex;
  padding-left: 2.5rem;
  align-items: center;
}

.filter-ind h3{
  margin: 0 0 0 10px;
  color: rgba(0,0,0 ,0.8);
}

.filter-ind img{
  width: 40px;
}