
.app-header{
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  padding: 0 2rem;
  background-color: #4A0D67;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}

.app-logo h1{
  font-size: 20px;
  color: #f4f4f4;
  font-weight: '600';
  margin: 0
}

.app-logo i, .wave {
  color: #FFD447;
  font-size: 24px;
}